h1{
    font-family: Arial;
    font-size: 40px;
    color: #97D2FB;
    margin: 20px;
}

img{
    margin: 10px;
    margin-left: 90px;
    width: 200px;
}

button{
    font-size: 23px;
    width: 90px;
    background-color: #ECCBD9;
    color: white;
}

button:hover {
    background-color: white;
    color: #ECCBD9;
}

.back{
    position: absolute;  
    right: 130px;
}
.home{
    position: absolute; 
    right: 20px;
}

ul{
    list-style-type: disc;
    font-family: Arial;
    font-size: 25px;
    color: #97D2FB; 
    margin-left: 370px;
    margin-top: -250px;
    /*position: relative;
    bottom: 250px;
    right: 250px;*/
}