body{
    background-color: #97D2Fb;
}

h1{
    font-family: Arial;
    font-weight: 100;
    font-size: 40px;
    margin: 20px;
}

img{
    margin: 10px;
    margin-left: 90px;
    width: 200px;
}

button{
    /* font-size: 23px;
    width: 90px;
    background-color: #ECCBD9;
    color: white; */
    background-color:#467fcf;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #467fcf;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-size:20px;
	padding:5px 22px;
	text-decoration:none;
}

button:hover {
    /* background-color: white;
    color: #ECCBD9; */
    background-color:#296dcc;
}

.back{
    position: absolute;  
    right: 130px;
}
.home{
    position: absolute; 
    right: 20px;
}

ul{
    list-style-type: disc;
    font-family: Arial;
    font-size: 25px;
    margin-left: 370px;
    margin-top: -250px;
    /*position: relative;
    bottom: 250px;
    right: 250px;*/
}