body{
    background-color: #97D2Fb;
}

h1{
    font-family: Arial;
    font-weight: 100;
    font-size: 40px;
    margin: 20px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
}

figure{
    width: 170px;
    height: 210px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 0px;
}

figure figcaption{
    font-size: 25px;
    font-family: Arial;
    text-align: center;
}

figure a{
    text-decoration: none;
    color: black;
}

button{
    /* font-size: 23px;
    width: 90px;
    background-color: #467fcf;
    color: white; */
    background-color:#467fcf;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #467fcf;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:5px 22px;
	text-decoration:none;
}

button:hover {
    /* background-color: white;
    color: #ECCBD9; */
    background-color:#296dcc;
}

.back{
    position: absolute;  
    right: 130px;
}
.home{
    position: absolute; 
    right: 20px;
}

.radio{
    margin-left: 30px;
    font-size: 18px;
    font-family: Arial;
    position: relative; 
    left: 10px;
}
